<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- 指定主题 -->
    <pages theme="Default"></pages>
    <customErrors mode="RemoteOnly" defaultRedirect="/errors/default.html">
      <error statusCode="404" redirect="/errors/404.html"/>
    </customErrors>
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="server=.;database=ttos;uid=sa;pwd=admin"/>
  </connectionStrings>
  <appSettings>
    <add key="homeUrl" value="/Admin"/>
    <add key="verify_app_id" value="2058929465"/>
    <add key="verify_app_secret" value="0fuB5CNX6g77t7kBIwJ2Gew**"/>
    <add key="verify_url" value="https://ssl.captcha.qq.com/ticket/verify"/>
    <add key="verify_app_id_1" value="2058929465"/>
    <add key="verify_app_secret_1" value="0fuB5CNX6g77t7kBIwJ2Gew**"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
